#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.car {
  width: 24%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.DivImg {
  height: 75%;
  width: 100%;
}

.DivImg > img {
  width: 100%;
  object-fit: cover;
  border-radius: 2%;
}

.DivText {
  text-align: left;
}

.tit {
  padding-left: 40px;
  font-size: 20px;
  margin-bottom: 10px;
}
