#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.car {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.countriesContainer {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.DivImg {
  width: 100%;
  border-radius: 5px;
}

.DivImg > img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: cover;
}

.DivText {
  text-align: left;
  padding: 0.5rem 2rem 3rem 2rem;
}

.tit {
  font-size: 20px;
  margin-bottom: 10px;
}

ul li{
 list-style: none;
 font-size: 14px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.totalContainer {
  width: 100%;
  background-color: rgb(249, 249, 249);
}

.bodyContainer {
  position: relative;
  margin: 1rem 4rem;
}

.filtersContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
  margin-bottom: 4%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined {
  padding-right: 5px;
}

.darkMode {
  display: flex;
  background-color: white;
  color: black;
}

.darkMode > span {
  color: black;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background-color: white;
  position: relative;
  top: 0px;
  box-shadow: 0px 0.2px 1px black;
}

h2 {
  color: black;
}

.search-container {
  position: relative;
  width: 40%;
  color: #b2b2b2;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding-left: 20px;
}

.search-input {
  width: calc(100% - 30px);
  padding: 20px 20px 20px 70px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  color: #b2b2b2;
}

button{
  background-color: white;
}

#options{
  padding: 17%;
  padding-left: 25%;
  padding-right: 25%;
  border-radius: 5px;
}

.selector-container{
  margin-right: 60px;
}